@import '~styles/theme.scss';
.root {
  background-color: $locatory-red;
  font-weight: 600;
  color: #fff;
  height: 50px;
  border-radius: 5px;
  &:hover {
    background-color: $locatory-red-hovered;
  }
}
